.navbar-brand img{
    border-radius: 20%;
}
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-nav{
    display: flex;
    align-items: center;
}

.navbar > .container-fluid{
    justify-content: center;
}

#social img{
    padding: 0;
    width: 30px;
    margin: 5px;
}
#social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loadProducts {
    display: flex;
    justify-content: center;
}
#loadProducts .card{
    display: flex;
    padding: 0px;
    border-style: none;
    align-items: center;
}
#loadProducts .card-body{
    padding: 10px 0px;
}
#loadProducts img{
    padding: 15px;
    height: 300px;
}
#productsSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#productsSection h3{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
}

#loadMoreBtn {
    font-weight: bold;
}
#productsFilter {
    display: flex;
    justify-content: center;
}

.row{
    margin: 0;
    padding: 0px 1.5rem;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-between;
    }  
}
@media (max-width: 768px) {
    #loadProducts img{
        padding: 10px 0px;
        width: 100%;
        height: 80%;
    }
    
}
@media (min-width: 1200px ){
    #loadProducts img{
        padding: 10px 0px;
        height: 200px;
        width: 200px;
    }
}